<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 my-3 my-sm-5 align-self-center">
          <h3 class="mb-0"><span class="px-sm-3 py-sm-2">ながのCAKE</span></h3>
        </div>
        <div class="col-sm-9 d-flex justify-content-sm-end">
          <nav class="navbar navbar-expand-md navbar-light bg-white">
            <div class="container-fluid">
              <div class="row">
                <button class="navbar-toggler" data-toggle="collapse" data-target="#dropdown">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="dropdown">
                  <ul class="navbar-nav my-md-2">
                    <li class="nav-item mx-2">
                      <button class="btn btn-outline-secondary">About</button>
                    </li>
                    <li class="nav-item mx-2">
                      <button class="btn btn-outline-secondary">商品一覧</button>
                    </li>
                    <li class="nav-item mx-2">
                      <button class="btn btn-outline-secondary">新規登録</button>
                    </li>
                    <li class="nav-item mx-2">
                      <button class="btn btn-outline-secondary">ログイン</button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-9">
                  <form>
                    akasanata
                  </form>
                </div>
              </div>                
            </div>
          </nav>
        </div>
      </div>
    </div>
    </header>
    <%= yield %>
  </body>
</html>
